*.orig
*~

.build*
*-stamp
gpr_query.db*
gnatinspect.db
auto.cgpr
tash-8.[0-9]*

makeconf
tash_options.gpr

include*
lib-*

demos/freq
demos/futurevalue
demos/hello_world
demos/tashell
demos/timer
demos/twashell
demos/watching
demos/wordify

demos/freq.unsorted
demos/freq.*.out
demos/watching.in
demos/words

src/tcl_record_sizes*

tests/compare
tests/tashtest
tests/test_compare.ada
